<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <h1>Login</h1>
    <form method="post" action="/users/login">
      <label for="email">Email</label>
      <br />
      <input type="text" id="email" name="email" placeholder="Email" />
      <br />

      <label for="password">Password</label>
      <br />
      <input type="text" id="password" name="password" placeholder="Password" />
      <br />

      <button>Login</button>
    </form>
  </body>
</html>